* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
   flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

body {
  width: 100%;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}
.top-hr {
  height: 10px;
  margin: 20px auto;
  border-top: 4px solid rgb(32, 64, 175);
  border-bottom: 2px solid rgb(32, 64, 175);
  border-left: 0;
  border-right: 0;
}
.hr-bottom {
  height: 10px;
  margin: 20px auto;
  border-bottom: 2px solid rgb(32, 64, 175);
  border-top: 0;
  border-left: 0;
  border-right: 0 rgb(32, 64, 175);
}

h1 {
  display: block;
  text-align: center;
  background: rgb(32, 64, 175);
  color: white;
  margin: 0;
}
h2 {
  padding: 10px;
}
p{
  padding-top: 5px;
  padding-bottom: 15px;
}
fieldset {
  border: 0;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

}
.contact {
  font-size: 25px;
  display: flex;
  text-align: left;

}

.newsletter {
  font-size: 25px;
  padding-top: 25px;
}



::placeholder {
  text-align: right;
}

textarea {
  background-color: lightyellow;
}
input,
select,
textarea {
  margin-left: 5px;
  margin-top: 0.5em;
  margin-bottom: 2em;
  border-radius: 5px;
  background-color: lightyellow;
  border-color: transparent;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  background-color: lightyellow;
}

input[type=text],
input[type=email],
input[type=tel],
select {
  width: 95%;
  height: 50px;
}




button {
  color: white;
  background-color: rgb(32, 64, 175);
  height: 50px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  cursor:pointer;
}

.pfoot {
  font-size: 15px;
}
#zipcode {
  display: block;
  width: 50%;
}

@media only screen and (min-width: 768px) {
.wrapper {
  justify-content: center;
  align-items: center;
}
  .group {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      align-items: center;
    }


  input[id="fullname"],
  input[id="mail"],
  input[id="telnum"],
  input[id="address"],
  input[id="city"],
  select {
    width: 70%;
    flex: 2;
  }
#fullname {
  margin-left: 11%;
  width: 77.8%;
}
#mail {
  margin-left: 6%;
}
#telnum {
  margin-left: 5.5%;
}
#address {
  margin-left: 4.5%;
}
#city {
  margin-left: 18.5%;
}
#state {
  margin-left: 16.5%;
}
#zipcode {
  margin-left: 13.5%;
}


    textarea {
      resize: none;
    }
}
